html
  background: $grey !important
  
.has-text-logo
  +font-bold
  +font-italic
  +text-title
.has-text-title
  +font-bold
  +text-title
.has-text-title-2
  +font-bold
  +text-title-2
.has-text-title-3
  +font-bold
  +text-subtitle
.has-text-subtitle
  +font-bold
  +text-subtitle
.has-text-paragraph
  +text-paragraph
.has-text-label
  +font-bold
  +text-label

.element
  margin: 24px 0
  &.limit-width
    max-width: 768px
    margin: 24px auto
  &.extend-width
    max-width: 928px
    margin: 24px auto
    padding: 0 80px

.y-middle
  > *
    vertical-align: middle