$family-sans-serif: 'Roboto', sans-serif
$tablet: 768px
  
$primary: #50ff44
$black: #000
$white: #fff
$grey: #f2f2f2

$transparent-gray-1: rgba(0,0,0,.8)
$transparent-gray-2: rgba(0,0,0,.2)
$transparent-gray-3: rgba(0,0,0,.1)
  
=font-black
  font-weight: 900
=font-bold
  font-weight: 700
=font-italic
  font-style: italic

=text-title
  font-size: 36px
  line-height: 42px
=text-title-2
  font-size: 24px
  line-height: 28px
=text-subtitle
  font-size: 20px
  line-height: 24px
=text-paragraph
  font-size: 16px
  line-height: 24px
=text-label
  font-size: 14px
  line-height: 16px
