#app {
  height: 100%;
  overflow: hidden;
  nav {
    height: 74px;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
  }
  &.lightMode {
    nav {
      background-color: $black;
      a {
        color: $primary;
      }
    }
  }
  &.darkMode {
    nav {
      background-color: $primary;
      a {
        color: $black;
      }
    }
  }
}
