#book {
  .comic-cover {
    border: 4px solid $black;
  }
  .comic-info {
    > * {
      padding-left: 20px;
      &:not(:first-child) {
        margin-top: 24px;
      }
    }
    .comic-title {
      height: 52px;
      display: flex;
      align-items: center;
    }
    .comic-meta {
      .comic-meta__item {
        &:not(:first-child) {
          margin-top: 8px;
        }
        .comic-meta__label {
          width: 72px;
        }
      }
    }
    .comic-sum {
      .title {
        margin-bottom: 8px;
      }
      .content {
        white-space: pre-line;
      }
    }
  }
  .chapter-list {
    .tabs {
      margin: 0;
      ul {
        border: 0;
      }
      li {
        background-color: $black;
        color: $white;
        padding: 8px 24px;
      }
    }
    .list {
      border: 4px solid $black;
      padding: 11px 0;
      background-color: $white;
      li {
        cursor: pointer;
        height: 42px;
        padding: 0 24px;
        display: flex;
        align-items: center;
        .tag {
          margin-left: 16px;
          background-color: $primary;
          color: $black;
          padding: 2px 12px;
        }
        &:hover {
          background-color: $black;
          color: $white;
        }
      }
    }
  }
}