#content {
  .background {
    position: fixed;
    top: 0;
    left: 0;
    height: 5000px;
    width: 100%;
    z-index: -1;
  }
  .ad {
    text-align: center;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    > * {
      align-self: center;
    }
    .svg-text {
      width: 5px;
      margin: 0 8px;
    }
    .svg-icon {
      width: 20px;
    }
    select {
      @include font-bold;
      @include text-paragraph;
      height: 35px;
      width: 127px;
      border: 2px solid $black;
      &:not(:last-child) {
        border-right: 0;
      }
    }
    .dropdown {
      &:not(:last-child) {
        button {
          border-right: 0;
        }
      }
    }

    .controls {
      * {
        vertical-align: middle;
      }
      span {
        display: inline-block;
      }
      .toggle {
        width: 48px;
        height: 24px;
        margin: 0 8px;
        position: relative;
        border: 2px solid;
        .toggle-switch {
          width: 22px;
          height: 20px;
          position: absolute;
        }
      }
    }
  }
  .viewer {
    position: relative;
    .viewer-layer {
      display: none;
      z-index: -1;
    }
    .viewer-next,
    .viewer-prev {
      display: flex;
      top: 0;
      height: 100%;
      width: 80px;
      position: absolute;
      .arrow {
        width: 50%;
        margin: auto;
        fill: $transparent-gray-3;
      }  
    }
    .viewer-prev {
      margin-left: -80px;
    }
    .viewer-next {
      margin-right: -80px;
      right: 0;
    }
    .viewer-next:hover,
    .viewer-prev:hover {
      background-color: $black;
      .arrow {
        width: 50%;
        margin: auto;
        fill: $primary;
      }  
    }
    .viewer-content {
      user-select: none;
      .viewer-close {
        display: none;
      }
    }
  }
  .viewer.full-screen {
    margin: 48px 0;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 100;
    .viewer-layer {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.8);
    }
    .viewer-wrapper {
      display: flex;
      justify-content: center;
    }
    .viewer-next,
    .viewer-prev {
      margin: 0;
      position: initial;
      height: auto;
    }
    .viewer-content {
      position: relative;
      .viewer-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        margin: 11px;
        display: block;
      }
    }
  }
  .pagination {
    overflow: hidden;
    .pagination-container {
      position: relative;
      .pagination-list {
        padding-top: 26px;
        display: flex;
        position: relative;
        .pagination-page {
          min-width: 80px;
          display: inline-block;
          position: relative;
          &:first-child {
            margin-left: 70px;
          }
          &:not(:first-child) {
            margin-left: 20px;
          }
          .pagination-img {
            position: relative;
            font-size: 0;
            max-width: 80px;
            .pagination-layer {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              background-color: $transparent-gray-3;
            }
          }
          .pagination-header,
          .pagination-arrow {
            position: absolute;
            top: -16px;
            left: 0;
            right: 0;
          }
          .pagination-arrow {
            display: none;
            height: 32px;
          }
          &.is-active {
            .pagination-header,
            .pagination-layer {
              display: none;
            }
            .pagination-arrow {
              display: flex;
              justify-content: center;
              align-items: flex-end;
              svg {
                width: 32px;
              }
            }
            .pagination-img{
              outline: 4px solid $black;
            }
          }
        }
      }
      .pagination-control {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        padding-top: 26px;
        justify-content: space-between;
        pointer-events: none;
        .control-prev,
        .control-next {
          width: 50px;
          height: 100%;
          background-color: $transparent-gray-1;
          pointer-events: initial;
          display: flex;
          .arrow {
            display: none;
          }
          &:hover {
            background-color: $primary;
            .arrow {
              display: block;
              width: 50%;
              margin: auto;
            }
          }
        }
      }  
    }
    .pagination-scroll {
      display: flex;
      height: 20px;
      margin-top: 20px;
      .control-left,
      .control-right {
        background-color: $black;
        width: 50px;
        flex-grow: 0;
        fill: $white;
        svg {
          width: 50px;
          height: 20px;
        }
      }
      .control-scroll {
        flex-grow: 1;
        border: 4px solid $black;
        position: relative;
        .control-bar {
          position: absolute;
          height: 12px;
          width: 88px;
          left: 12px;
          background-color: $black;
        }
      }
    }
  }
}

.lightMode {
  #content {
    .navbar {
      .controls {
        .toggle {
          border-color: $black;
          .toggle-switch {
            background-color: $black;
            left: 0;
          }
        }
      }
    }
  }
}
.darkMode {
  color: white;
  #content {
    .background {
      background-color: $black;
    }
    .navbar {
      .controls {
        svg {
          fill: white;
        }
        .toggle {
          border-color: $white;
          .toggle-switch {
            background-color: $white;
            left: 22px;
          }
        }
      }
    }
    .viewer {
      .viewer-next,
      .viewer-prev {
        .arrow {
          fill:  rgba(255,255,255,0.20);
        }
      }
      .viewer-next:hover,
      .viewer-prev:hover {
        background-color: $primary;
        .arrow {
          fill: black;
        }
      }
    }
    .pagination {
      .pagination-list {
        .pagination-page {
          &.is-active {
            .pagination-img {
              outline-color: $primary;
            }
            .pagination-arrow {
              fill: $primary;
            }
          }
        }
      }
      .pagination-scroll {
        .control-left,
        .control-right {
          background-color: $white;
          fill: $black;
        }
        .control-scroll {
          border-color: $white;
          .control-bar {
            background-color: $white;
          }
        }
      }
    }
  }
}
