<template>
  <div id="book" class="has-text-centered">
    <div class="element"><img :src="ad1"></div>
    <div class="element limit-width has-text-left has-text-paragraph">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="comic-cover tile is-child"><img :src="cover"></div>
          <div class="comic-info tile is-child">
            <div class="comic-title has-text-white has-background-black has-text-title">MY HEXSCHOOL</div>
            <div class="comic-meta">
              <div class="comic-meta__item is-flex">
                <div class="comic-meta__label">Genres</div>
                <div class="comic-meta__content">Fusce/vehicula/dolor</div>
              </div>
              <div class="comic-meta__item is-flex">
                <div class="comic-meta__label">Author</div>
                <div class="comic-meta__content">Namae Shiranai</div>
              </div>
              <div class="comic-meta__item is-flex">
                <div class="comic-meta__label">Status</div>
                <div class="comic-meta__content">Ongoing</div>
              </div>
              <div class="comic-meta__item is-flex">
                <div class="comic-meta__label">Rate</div>
                <div class="comic-meta__content">★★★★☆</div>
              </div>
            </div>
            <div class="comic-sum">
              <div class="title has-text-weight-bold">Summary</div>
              <p class="content">If your banker breaks, you snap; if your apothecary by mistake sends you poison in your pills, you die.

Therefore, I say, I saw that this situation of mine was the precise situation of every mortal that has this Siamese connexion with a plurality of other mortals. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="element"><img :src="ad2"></div>
    <div class="chapter-list element limit-width">
      <div class="tabs is-boxed">
        <ul>
          <li class="is-active has-text-title-2">All Chapters</li>
        </ul>
      </div>
      <ul class="list has-text-left has-text-paragraph has-text-weight-bold" @click="$router.push('content')">
        <li>Chapter 1: The F2E Challenge Start!</li>
        <li>Chapter 2: Todo List is Going Crazy! <span class="tag">NEW</span></li>
      </ul>
    </div>
    <div class="element"><img :src="ad3"></div>
  </div>
</template>

<script>
import ad1 from '@/assets/img/ad-1.png'
import ad2 from '@/assets/img/ad-2.png'
import ad3 from '@/assets/img/ad-3.png'
import cover from '@/assets/img/comic cover.png'

export default {
  name: 'book',
  data: () => ({
    ad1,
    ad2,
    ad3,
    cover
  })
}
</script>
