<template>
  <div id="content">
    <div class="background"/>
    <div class="ad element"><img :src="ad1"></div>
    <div class="element limit-width">
      <div class="navbar">
        <div>
          <span class="has-text-subtitle">My Hexschool</span>
          <CaretRight class="svg-text"/>
          <Dropdown :options="{
            'ch-1': 'Chapter1',
            'ch-2': 'Chapter2'
          }"
          />
          <Dropdown :options="pageList" v-model.number="currentPage"/>
        </div>
        <div class="controls" @click="$store.commit('ToggleDarkMode')">
          <SolidSun v-if="!darkMode" class="svg-icon"/>
          <RegularSun v-if="darkMode" class="svg-icon"/>
          <span class="toggle">
            <span class="toggle-switch"/>
          </span>
          <RegularMoon v-if="!darkMode" class="svg-icon"/>
          <SolidMoon v-if="darkMode" class="svg-icon"/>
        </div>
      </div>
    </div>
    <div class="ad element"><img :src="ad2"></div>
    <div class="element extend-width">
      <div :class="['viewer', fullScreen && 'full-screen']">
        <div class="viewer-layer"/>
        <div class="viewer-wrapper" @click="fullScreen && (fullScreen = false)">
          <div class="viewer-prev" @click.stop="prevPage"><Left class="arrow"/></div>
          <div class="viewer-content" @click.stop="fullScreen = true">
            <img :src="image[currentPage]">
            <div class="viewer-close" @click.stop="fullScreen = false"><Close/></div>
          </div>
          <div class="viewer-next" @click.stop="nextPage"><Right class="arrow"/></div>
        </div>
      </div>
      <div class="pagination">
        <div class="pagination-container" ref="pageCon">
          <div class="pagination-list" :style="{ 'margin-left': `${scrollOffset}px` }">
            <div
              :class="{
                'pagination-page': true,
                'is-active': index === currentPage
              }"
              v-for="(url, index) of image"
              :key="`p-${index}`"
            >
              <div class="pagination-img" >
                <div class="pagination-layer"/>
                <img :src="url">
              </div>
              <div class="pagination-header has-text-label has-text-centered">
                {{ index + 1 }}
              </div>
              <div v-if="index === currentPage" class="pagination-arrow"><CaretUp/></div>
            </div>
          </div>
          <div class="pagination-control">
            <div class="control-prev" @click="prevPage"><Left class="arrow"/></div>
            <div class="control-next" @click="nextPage"><Right class="arrow"/></div>
          </div>
          <div class="pagination-tooltip"></div>
        </div>
        <div class="pagination-scroll">
          <div class="control-left"><CaretLeft/></div>
          <div class="control-scroll">
            <div class="control-bar"/>
          </div>
          <div class="control-right"><CaretRight/></div>
        </div>
      </div>
    <div class="ad element"><img :src="ad3"></div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import CaretLeft from '@fortawesome/fontawesome-free/svgs/solid/caret-left.svg'
import CaretRight from '@fortawesome/fontawesome-free/svgs/solid/caret-right.svg'
import RegularSun from '@fortawesome/fontawesome-free/svgs/regular/sun.svg'
import SolidSun from '@fortawesome/fontawesome-free/svgs/solid/sun.svg'
import RegularMoon from '@fortawesome/fontawesome-free/svgs/regular/moon.svg'
import SolidMoon from '@fortawesome/fontawesome-free/svgs/solid/moon.svg'
import CaretUp from '@fortawesome/fontawesome-free/svgs/solid/caret-up.svg'
import Left from '@fortawesome/fontawesome-free/svgs/solid/angle-left.svg'
import Right from '@fortawesome/fontawesome-free/svgs/solid/angle-right.svg'
import Close from '@fortawesome/fontawesome-free/svgs/regular/times-circle.svg'
import Dropdown from '@/components/Dropdown.vue'

import p01 from '@/assets/img/storyboard-1.png'
import p02 from '@/assets/img/storyboard-2.png'
import p03 from '@/assets/img/storyboard-3.png'
import p04 from '@/assets/img/storyboard-4.png'
import p05 from '@/assets/img/storyboard-5.png'
import p06 from '@/assets/img/storyboard-6.png'
import p07 from '@/assets/img/storyboard-7.png'
import p08 from '@/assets/img/storyboard-8.png'
import p09 from '@/assets/img/storyboard-9.png'
import p10 from '@/assets/img/storyboard-10.png'
import p11 from '@/assets/img/storyboard-11.png'
import p12 from '@/assets/img/storyboard-12.png'

import ad1 from '@/assets/img/ad-1.png'
import ad2 from '@/assets/img/ad-2.png'
import ad3 from '@/assets/img/ad-3.png'

export default {
  name: 'Content',
  components: {
    Dropdown,
    CaretLeft,
    CaretRight,
    CaretUp,
    RegularSun,
    SolidSun,
    RegularMoon,
    SolidMoon,
    Left,
    Right,
    Close
  },
  data: () => ({
    ad1,
    ad2,
    ad3,
    image: [
      p01,
      p02,
      p03,
      p04,
      p05,
      p06,
      p07,
      p08,
      p09,
      p10,
      p11,
      p12
    ],
    currentPage: 0,
    scrollOffset: 0,
    fullScreen: false
  }),
  watch: {
    currentPage (newVal) {
      const containerWidth = this.$refs.pageCon.getBoundingClientRect().width
      const middle = containerWidth / 2 + 40
      const pagePos = 100 * (this.currentPage + 1) - 90 + this.scrollOffset
      if (pagePos > 0) {
        if (pagePos < middle) return
        this.scrollOffset = this.scrollOffset - (pagePos - middle)
      } else {
        this.scrollOffset = this.scrollOffset - pagePos
      }
    }
  },
  computed: {
    ...mapState(['darkMode']),
    pageList () {
      const pageList = []
      this.image.forEach((value, index) => (pageList[index] = `Page ${index + 1}`))
      return pageList
    }
  },
  methods: {
    nextPage () {
      if (this.currentPage + 1 === this.pageList.length) return
      this.currentPage++
    },
    prevPage () {
      if (this.currentPage === 0) return
      this.currentPage--
    }
  }
}
</script>
