<template>
  <div :class="['dropdown', open && 'is-active']">
    <div class="dropdown-canceler" @click="closeMenu"/>
    <div class="dropdown-trigger">
      <button @click="openMenu">
        <div>{{ options[inputVal] }}</div>
        <Sort class="icon"/>
      </button>
    </div>
    <div class="dropdown-menu">
      <div class="dropdown-content">
        <a
          v-for="(value, key) of options"
          :key="key"
          href="#"
          @click="select(key)"
        >{{ value }}</a>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@mixin font-style {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}
.dropdown {
  @include font-style;
  display: inline-block;
  .dropdown-canceler {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 1;
  }
  .dropdown-trigger {
    button {
      @include font-style;
      width: 127px;
      height: 35px;
      background-color: #fff;
      border: 2px solid;
      text-align: left;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .icon {
        width: 10px;
      }
    }
  }
  .dropdown-menu {
    z-index: 3;
    position: fixed;
    display: none;
    width: 127px;
    text-align: center;
    padding: 5px 0;
    border: 2px solid #000;
    margin-top: 4px;
    color: #50ff44;
    background-color: #fff;
    a {
      height: 35px;
      vertical-align: middle;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000;
      &:hover {
        background: #000;
        color: #50ff44;
      }
    }
  }
  &.is-active {
    .dropdown-canceler {
      display: block;
    }
    .dropdown-menu {
      display: block;
    }
  }
}
</style>

<script>
import Sort from '@fortawesome/fontawesome-free/svgs/solid/sort.svg'

export default {
  name: 'Dropdown',
  components: {
    Sort
  },
  props: {
    options: {
      default: () => ([]),
      type: [Object, Array],
      required: true
    },
    value: {
      default: 0,
      type: [Number, String]
    }
  },
  data () {
    return {
      open: false,
      inputVal: this.value
    }
  },
  watch: {
    inputVal (newVal) {
      this.$emit('input', newVal)
    },
    value (newVal) {
      this.inputVal = newVal
    }
  },
  mounted () {
    if (!this.inputVal) {
      if (typeof this.options === 'object') {
        this.inputVal = Object.keys(this.options)[0]
      } else {
        this.inputVal = 0
      }
    }
  },
  methods: {
    closeMenu () {
      this.open = false
    },
    openMenu () {
      this.open = true
    },
    select (key) {
      this.inputVal = key
      this.open = false
    }
  }
}
</script>
