<template>
  <div id="app" :class="classList">
    <nav class="has-text-logo">
      <router-link to="/">Comicomic</router-link>
    </nav>
    <router-view/>
  </div>
</template>

<script>
// FIXME: import state
export default {
  name: 'APP',
  computed: {
    classList () {
      return [
        this.$store.state.darkMode && this.$route.name === 'content' ? 'darkMode' : 'lightMode'
      ]
    }
  }
}
</script>
